/* --- Root Variables (Colors) --- */
:root {
    /* --- Mica Inspired Color Variables --- */
    --background-color: rgba(30, 34, 40, 0.7);
    --foreground-color: rgb(237, 238, 240);
    --accent-color: #0078d4;
    --border-color: rgb(53, 59, 69);
    --icon-color: rgb(169, 174, 184);
    --icon-hover: rgba(169, 174, 184, 0.8);
    --hover-color: rgba(93, 114, 135, 0.12);
    --active-color: rgb(93, 114, 135);
    --inactive-color: rgba(93, 114, 135, 0.5);
    --white-color: rgb(237, 238, 240);
}

/* --- Base Styles --- */
* {
    font-size: 14px;
    color: var(--foreground-color);
    font-weight: 900;
    font-family: "JetBrainsMono NFM";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Yasb Bar Itself --- */
.yasb-bar {
    background-color: var(--background-color);
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

/* --- Individual Widgets --- */
.widget {
    padding: 0 15px;
    margin: 0;
}

.container-right .widget .icon:hover {
    color: var(--icon-hover);
}

/* --- Icons --- */
.icon {
    font-size: 26px;
    color: var(--icon-color);
}

/* --- Widget Labels --- */
.widget .label {
    padding: 0px 2px;
}

/* --- Apps Widget Specific --- */
.apps-widget {
    padding: 0 4px 0 2px;
}

.apps-widget .widget-container .label {
    font-size: 20px;
}

/* --- Workspace and Layout Containers --- */
.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container,
.glazewm-workspaces .widget-container,
.glazewm-tiling-direction .widget-container {
    background-color: var(--background-color);
    border-radius: 10px;
    margin: 2px;
    padding: 0 4px 0 2px;
}

/* --- Komorebi & GlazeWM Workspaces --- */
.glazewm-workspaces {
	margin: 0;
}
.glazewm-workspaces .ws-btn {
    background-color: var(--background-color);
    font-size: 20px;
    margin: 4px 4px;
    padding: 0 4px 0 2px;
    color: var(--icon-color);
    border-radius: 5px;
    align-items: left;
    border: 2px solid var(--border-color);
}
.glazewm-workspaces .ws-btn.populated {
    color: var(--active-color);
}
.glazewm-workspaces .ws-btn.empty {
    color: var(--inactive-color);
}  
.glazewm-workspaces .ws-btn:hover{
    border: 2px solid var(--white-color);
    color: var(--white-color);
}  


/* --- Glazewm Tiling Direction --- */
.glazewm-tiling-direction {
    background-color: transparent;
    padding: 0;
    margin: 4px 0;
}

.glazewm-tiling-direction .btn {
    font-size: 26px;
    width: 14px;
    padding: 0 4px 0 12px;
    color: var(--foreground-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.glazewm-tiling-direction .btn:hover {
    background-color: var(--hover-color);
}

.glazewm-binding-mode {
    background-color: var(--crust);
    margin: 4px 0;
    border-radius: 12px;
    border: 0;
}

.glazewm-binding-mode .label {
    color: var(--text);
    font-size: 12px;
}

.glazewm-binding-mode .icon {
    color: var(--red);
}

/* --- Apps Widget Label --- */
.apps-widget .label {
    font-size: 14px;
    padding: 0 2px;
    color: var(--foreground-color);
}

/* --- Uptime Widget --- */
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--foreground-color);
    font-weight: 600;
}

/* --- Power Menu Widget --- */
.power-menu-widget .label {
    font-size: 29px;
}

/* --- Power Menu Popup --- */
.power-menu-popup {
    background-color: rgba(20, 13, 14, 0.9);
    border-radius: 6px;
    padding: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border-left: 4px solid rgba(0, 0, 0, 0.05);
    border-right: 4px solid rgba(0, 0, 0, 0.05);
    border-top: 8px solid rgba(0, 0, 0, 0.05);
    border-bottom: 8px solid rgba(0, 0, 0, 0.05);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.power-menu-popup .button:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    border-right: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--accent-color);
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--foreground-color);
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    color: var(--foreground-color);
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

/* --- Volume Widget --- */
.volume-widget .icon {
    color: var(--foreground-color);
    margin: 0px 2px 0 0;
}

/* --- Battery Widget --- */
.battery-widget .icon {
    margin-right: 6px;
    color: var(--foreground-color);
}

/* --- Brightness Widget --- */
.brightness-widget {
    margin-right: -10px;
}

.brightness-widget .icon {
    color: var(--foreground-color);
}

/* --- Common Widget Padding --- */
.weather-widget,
.battery-widget,
.wifi-widget,
.volume-widget,
.brightness-widget {
    padding: 0 6px;
}

/* --- Weather Widget --- */
.weather-widget .icon {
    font-size: px;
    margin: 0 2px 1px 0;
}

/* --- Wallpapers Widget --- */
.wallpapers-widget .icon {
    color: var(--foreground-color);
    font-size: 14px;
    margin: 0;
}

/* --- Taskbar Widget --- */
.taskbar-widget {
    padding: 0;
    margin: 0;
    border: none;
}

.taskbar-widget .app-icon {
    padding: 0 6px;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar-widget .app-icon:hover {
    background-color: var(--hover-color);
    border-radius: 3px;
}

/* --- Whkd Widget --- */
.whkd-widget {
    padding: 0 6px 0 6px;
}

.whkd-widget .icon {
    font-size: 14px;
    color: var(--foreground-color);
}

/* --- Wallpapers Gallery Window --- */
.wallpapers-gallery-window {
    background-color: rgba(20, 13, 14, 0.9);
    border: 0;
    margin: 0;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.wallpapers-gallery-buttons {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin: 0 8px 8px 8px;
    width: 600px;
}

.wallpapers-gallery-buttons:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 10px;
}

.wallpapers-gallery-image:hover {
    border: 4px solid var(--accent-color);
}

.wallpapers-gallery-image.focused {
    border: 4px solid var(--accent-color);
}

/* --- Systray --- */
.systray {
    border: none;
    margin-right: -12px;
    display: flex;
    align-items: center;
}

.systray .unpinned-container {
    border-radius: 8px;
    padding: 2px;
}

.systray .pinned-container {
    background: transparent;
    padding: 2px;
}

.systray .button {
    margin: 0 2px;
    color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.systray .button:hover {
    background: var(--hover-color);
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    font-size: 14px;
}

/* --- Common Styles --- */
.wifi-widget,
.brightness-widget,
.volume-widget,
.weather-widget,
.systray {
    margin-top: 2.4px;
}

.media-widget {
    padding: 0;
    margin: 0;
}
.media-widget .label {
    color: #bac2db;
    background-color: rgba(24, 24, 37, 0.7);
    padding: 0px;
    padding-right: 4px;
    font-size: 12px;
}
.media-widget .btn {
    color: #989caa;
    padding: 0 4px;
    margin: 0;
    font-family: Segoe Fluent Icons;
    font-weight: 400;
}
.media-widget .btn:hover {
    color: #babfd3;
}
.media-widget .btn.play {
    font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #4e525c;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}
.notes-widget {
    padding: 0;
}
.notes-widget .label {
   font-size: 14px;
   color: #dbfeb4;;
}
.notes-widget .icon {
    font-size: 16px;
    color: #dbfeb4;
}
/* Notes Widget Menu */
.notes-menu {
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(17, 17, 27, 0.4);
}
.notes-menu .note-item {
    background-color:transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.notes-menu .note-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.notes-menu .note-item .icon {
    font-size: 16px;
    padding: 0 4px;
}
.notes-menu .delete-button {
    color: #ff6b6b;
    background: transparent;
    border: none;
    font-size: 8px;
    padding: 7px 8px;
    border-radius: 3px;
}
.notes-menu .delete-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
.notes-menu .copy-button {
    color: #babfd3;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 3px;
}
.notes-menu .copy-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
.notes-menu .copy-button:pressed {
    color: #ffffff;
}
.notes-menu .note-item .title {
    font-size: 13px;
    font-family: 'Segoe UI'
}
.notes-menu .note-item .date {
    font-size: 12px;
    font-family: 'Segoe UI';
    color: rgba(255, 255, 255, 0.4);
}
.notes-menu .empty-list {
    font-family: 'Segoe UI';
    color: rgba(255, 255, 255, 0.2);
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0 20px 0;     
}
.notes-menu .add-button,  
.notes-menu .cancel-button {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Segoe UI'
}
.notes-menu .cancel-button {
    margin-left: 4px;
}
.notes-menu .add-button:hover,
.notes-menu .cancel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.notes-menu .scroll-area {
    background: transparent; 
    border: none; 
    border-radius:0;
}
.notes-menu .note-input {
    background-color:rgba(17, 17, 27, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI';
    font-size: 14px;
    max-height: 30px;
    padding: 4px;
    border-radius: 6px;
}
.note-input:focus {
    border: 1px solid #89b4fa;
}

.bluetooth-widget .icon
{
    font-size: 18px;
}
